body {
  background: radial-gradient(#246, #002);
}

.game-arena {
  background: cornsilk;
  border: 2px solid #000;
  height: 39rem;
  margin: .8rem auto;
  position: relative;
  width: 39rem;
}

.snake-dot {
  background: linear-gradient(235deg, #89ff00, #010615);
  border: 1px solid #ccc;
  height: 2%;
  position: absolute;
  width: 2%;
}

.snake-food {
  background: #010615;
  border: 1px solid #ccc;
  height: 2%;
  position: absolute;
  width: 2%;
}