.App {
  text-align: center;
}

.board {
  margin: auto;
  background: green;
  overflow: hidden;
  outline: none;
  border: 2px solid black;
}

.cell {
  box-sizing: border-box;
  float: left;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
}